body {
	font-family: 'Josefin Sans', sans-serif;
	margin: 1%;
	background-color: #fbd1a2;
}

img {
	height: auto;
	max-width: 100%;
}

li {
	margin-bottom: 2%;
}

@media only screen and (min-width: 1200px) {
	img {
		width: 100%;
	}
}
